{{!--
    Parameters:
    * feed (index, home, archive, recent)
    * showTitle (true, false)
--}}

<section class="gh-container is-grid has-sidebar gh-outer">
    <div class="gh-container-inner gh-inner">
        
        {{#if showTitle}}
            <h2 class="gh-container-title">
                {{#unless title}}Latest{{else}}{{title}}{{/unless}}
            </h2>
        {{/if}}

        <main class="gh-main">
            <div class="gh-feed">
                {{!-- All posts --}}
                {{#match feed "index"}}
                    {{#match pagination.page 2}}
                        {{#get "posts" include="authors" limit=@config.posts_per_page as |recent|}}
                            {{#foreach recent}}
                                {{> "post-card"}}
                            {{/foreach}}
                        {{/get}}
                    {{/match}}
                    {{#foreach posts}}
                        {{> "post-card" lazyLoad=true}}
                    {{/foreach}}
                {{/match}}

                {{!-- Tag and author pages --}}
                {{#match feed "archive"}}
                    {{#foreach posts}}
                        {{> "post-card" lazyLoad=true}}
                    {{/foreach}}
                {{/match}}

            </div>

            {{#match pagination.pages ">" 1}}
                <div class="gh-more is-title">
                    <a href="{{@site.url}}/page/2">See all {{> "icons/arrow"}}</a>
                </div>
            {{/match}}
        </main>

        {{> "components/sidebar" showFeatured=true showCategories=true}}
    </div>
</section>