@import "tailwindcss";

/* 1. Variables & Tailwind configuration
/* ---------------------------------------------------------- */

@plugin "@tailwindcss/typography";

/* Variables
/* ---------------------------------------------------------- */

:root {
    --color-white: #fff;
    --color-lighter-gray: rgb(0 0 0 / 0.05);
    --color-light-gray: #e6e6e6;
    --color-mid-gray: #ccc;
    --color-dark-gray: #444;
    --color-darker-gray: #15171a;
    --color-black: #000;
    --color-primary-text: var(--color-darker-gray);
    --color-secondary-text: rgb(0 0 0 / 0.55);
    --color-border: rgb(0 0 0 / 0.08);
    --color-dark-border: rgb(0 0 0 / 0.55);
    --font-sans: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    --font-serif: "EB Garamond", Georgia, Times, serif;
    --font-serif-alt: Georgia, Times, serif;
    --font-mono: "JetBrains Mono", Menlo, Consolas, Monaco, "Liberation Mono", "Lucida Console", monospace;
    --container-width: 1320px;
    --container-gap: clamp(24px, 1.7032rem + 1.9355vw, 48px);
    --grid-gap: 42px;
}

:root.has-light-text,
:is(.gh-navigation, .gh-footer).has-accent-color {
    --color-lighter-gray: rgb(255 255 255 / 0.1);
    --color-darker-gray: #fff;
    --color-secondary-text: rgb(255 255 255 / 0.64);
    --color-border: rgb(255 255 255 / 0.15);
    --color-dark-border: rgb(255 255 255 / 0.5);
}

@theme {
    --breakpoint-3xl: 1920px;
    --font-display: var(--font-sans);
}

/* 3. Resets
/* ---------------------------------------------------------- */

*, *::before, *::after {
    @apply box-border;
}

* {
    @apply m-0;
}

html {
    font-size: 62.5%;
}

body {
    @apply antialiased leading-relaxed;
}

img, picture, video, canvas, svg {
    @apply block h-auto max-w-full;
}

iframe {
    @apply block;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    @apply break-words;
}

h1, h2, h3, h4, h5, h6 {
    @apply leading-tight font-bold;
}

ul {
    @apply list-disc;
}

ul ul {
    list-style-type: circle;
}

ul ul ul {
    list-style-type: circle;
}

/* 4. Globals
/* ---------------------------------------------------------- */

body {
    @apply text-2xl;
    font-family: var(--gh-font-body, var(--font-sans));
    background-color: var(--background-color);
    color: var(--color-primary-text);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--gh-font-heading, var(--font-sans));
}

a {
    @apply no-underline;
    color: var(--color-darker-gray);
}

a:hover {
    @apply opacity-80;
}

.gh-button {
    @apply inline-flex items-center justify-center cursor-pointer border-0 gap-1.5 leading-none font-semibold text-2xl rounded-lg;
    padding: 0.8em 1.4em;
    letter-spacing: -0.004em;
    color: var(--color-white);
    background-color: var(--ghost-accent-color);
}

.gh-button:hover {
    @apply opacity-95;
}

.gh-icon-button {
    @apply inline-flex items-center justify-center p-0 border-0 outline-none cursor-pointer bg-transparent w-[32px] h-[32px];
    color: var(--color-darker-gray);
}

.gh-icon-button:hover :is(svg, span) {
    @apply opacity-80;
}

.gh-icon-button svg {
    @apply w-8 h-8;
}

.gh-form {
    @apply flex items-center relative max-w-[560px] w-full h-[56px] font-medium text-3xl tracking-tighter rounded-md;
    background-color: var(--color-lighter-gray);
    transition: background-color 0.2s ease;
}

.gh-form.success {
    @apply pointer-events-none;
}

.gh-form.error {
    @apply ring-1 ring-red-500;
}

.gh-form:hover {
    background-color: rgb(0 0 0 / 0.065);
}

.has-light-text .gh-form:hover,
.gh-footer.has-accent-color .gh-form:hover {
    background-color: rgb(255 255 255 / 0.15);
}

.gh-form-input {
    @apply absolute w-full h-full inset-0 border-0 bg-transparent outline-none leading-tight rounded-lg;
    padding-inline: 26px;
    font-size: inherit;
    letter-spacing: inherit;
    transition: 0.3s ease-in-out;
}

.gh-form-input::placeholder,
button.gh-form-input {
    color: rgb(0 0 0 / 0.3);
}

:is(.has-serif-title, .has-mono-title):not([class*=" gh-font-heading"]):not([class^="gh-font-heading"]) .gh-form-input {
    padding-inline: 20px;
}

.gh-form.gh-form.success .gh-form-input {
    @apply opacity-50;
}

.has-light-text .gh-form-input,
.gh-footer.has-accent-color .gh-form-input {
    @apply text-white;
}

.has-light-text .gh-form-input::placeholder,
.has-light-text button.gh-form-input,
.gh-footer.has-accent-color .gh-form-input::placeholder {
    color: rgb(255 255 255 / 0.55);
}

button.gh-form-input {
    @apply text-left cursor-pointer;
    padding-inline-start: 56px;
    color: var(--color-secondary-text);
}

:is(.has-serif-title,.has-mono-title):not([class*=" gh-font-heading"]):not([class^="gh-font-heading"]) button.gh-form-input {
    padding-inline-start: 50px;
}

.gh-form .gh-button {
    @apply absolute right-[6px] h-[44px];
    padding-inline: 32px;
    font-size: inherit;
}

.gh-form > svg {
    @apply relative left-[22px] w-[20px] h-[20px];
    color: var(--color-secondary-text);
}

:is(.has-serif-title,.has-mono-title):not([class*=" gh-font-heading"]):not([class^="gh-font-heading"]) .gh-form > svg {
    @apply left-[16px];
}

.gh-form .gh-button svg {
    @apply hidden absolute mt-[1px];
}

.gh-form:is(.loading, .success) .gh-button span {
    @apply hidden;
}

.gh-form.loading .gh-button svg:first-of-type {
    @apply block;
}

.gh-form.success .gh-button svg:last-of-type {
    @apply block;
}

.gh-form [data-members-error] {
    @apply absolute top-full w-full mt-[10px] text-2xl leading-normal;
}

@media (max-width: 576px) {
    .gh-form {
        @apply text-2xl;
    }

    .gh-form .gh-button {
        padding-inline: 12px;
    }

    .gh-form .gh-button span span {
        @apply hidden;
    }

    .gh-form .gh-button span svg {
        @apply inline static w-5 h-5 mt-[2px];
    }
}

/* 5. Layout
/* ---------------------------------------------------------- */

.gh-viewport {
    @apply relative flex flex-col min-h-screen;
}

.gh-outer {
    padding: 0 max(4vmin, 20px);
}

.gh-outer .gh-outer {
    @apply p-0;
}

.gh-inner {
    @apply mx-auto w-full;
    max-width: var(--container-width);
}

.gh-main {
    @apply flex-grow;
}

.gh-canvas,
.kg-width-full.kg-content-wide {
    @apply grid;
    grid-template-columns: 
        [full-start] minmax(var(--container-gap), 1fr)
        [wide-start] minmax(0, calc((var(--container-width, 1200px) - var(--content-width, 720px)) / 2))
        [main-start] min(var(--content-width, 720px), calc(100% - var(--container-gap) * 2)) [main-end]
        minmax(0, calc((var(--container-width, 1200px) - var(--content-width, 720px)) / 2)) [wide-end]
        minmax(var(--container-gap), 1fr) [full-end];
}

.gh-canvas > * {
    @apply col-[main];
}

.kg-width-wide,
.kg-content-wide > div {
    @apply col-[wide];
}

.kg-width-full {
    @apply col-[full];
}

/* 6. Navigation
/* ---------------------------------------------------------- */

.gh-navigation {
    @apply relative h-auto font-medium !pt-8;
    font-size: 1.5rem;
    background-color: var(--background-color);
    color: var(--color-darker-gray);
}

.gh-navigation :is(.gh-navigation-logo, a:not(.gh-button), .gh-icon-button) {
    @apply text-inherit;
}

.gh-navigation-inner {
    @apply grid h-full items-center;
    grid-auto-flow: row dense;
    column-gap: 24px;
}

.gh-navigation-brand {
    @apply leading-none;
}

.gh-navigation-logo {
    @apply relative whitespace-nowrap font-bold;
    font-family: var(--gh-font-heading, var(--font-sans));
    font-size: calc(2.4rem * var(--factor, 1));
    letter-spacing: -0.015em;
}

.gh-navigation-logo img {
    @apply max-h-[40px];
}

.gh-navigation-menu {
    @apply flex items-center gap-6;
}

.gh-navigation .nav {
    @apply inline-flex items-center p-0 m-0 whitespace-nowrap list-none gap-9 font-semibold;
}

.gh-navigation .gh-more-toggle {
    @apply relative;
    margin: 0 -6px;
    font-size: inherit;
    text-transform: inherit;
}

.gh-navigation .gh-more-toggle svg {
    @apply w-6 h-6;
}

.gh-navigation-actions {
    @apply flex items-center justify-end gap-6;
    background-color: var(--background-color);
}

.gh-navigation.has-accent-color .gh-navigation-actions {
    background-color: var(--ghost-accent-color);
}

.gh-navigation-members {
    @apply flex items-center whitespace-nowrap gap-8;
}

.gh-navigation-members .gh-button {
    @apply font-semibold;
    font-size: inherit;
}

.gh-search {
    @apply mr-[-2px] ml-[-2px];
}

@media (max-width: 767px) {
    .gh-navigation-logo {
        @apply whitespace-normal;
    }

    .gh-navigation-members {
        @apply flex-col-reverse w-full gap-4;
    }

    .gh-navigation-actions .gh-search {
        @apply hidden;
    }
}

@media (min-width: 768px) {
    .gh-navigation-brand .gh-search {
        @apply hidden;
    }

    .gh-navigation:not(.is-dropdown-loaded) .gh-navigation-menu .nav > li {
        @apply opacity-0;
    }
}

/* 6.1. Navigation styles */

.gh-navigation.has-accent-color {
    background-color: var(--ghost-accent-color);
}

.gh-navigation.has-accent-color .gh-button {
    background-color: #fff;
    color: #15171a;
}

/* 6.2. Navigation layout */

.gh-navigation .gh-navigation-inner {
    grid-template-columns: 1fr auto 1fr;
}

.gh-navigation .gh-navigation-brand {
    @apply flex items-center min-h-20;
    grid-row-start: 1;
    grid-column-start: 2;
}

@media (max-width: 767px) {
    .gh-navigation .gh-navigation-brand {
        min-height: unset;
    }
}

@media (min-width: 992px) {
    .gh-navigation .gh-navigation-inner {
        @apply p-0;
    }

    .gh-navigation .gh-navigation-brand {
        @apply flex items-center h-[80px];
    }

    .gh-navigation .gh-navigation-menu {
        @apply h-[60px];
        grid-row-start: 2;
        grid-column: 1 / 4;
        justify-content: center;
        margin: 0 48px;
    }

    .gh-navigation .gh-navigation-menu::before,
    .gh-navigation .gh-navigation-menu::after {
        @apply absolute left-0 w-full top-28 h-px;
        content: "";
        background-color: var(--color-border);
    }

    .gh-navigation .gh-navigation-menu::after {
        @apply top-[140px];
    }

    .gh-navigation .gh-navigation-actions {
        grid-row-start: 1;
        grid-column: 1 / 4;
        justify-content: space-between;
    }

    .gh-navigation .gh-navigation-actions .gh-search {
        @apply flex w-auto gap-2.5;
    }
}

/* 6.3. Dropdown menu */

.gh-dropdown {
    @apply absolute top-full right-[-16px] w-[200px] mt-6 text-left bg-white opacity-0 rounded-sm;
    z-index: 90;
    padding: 12px 0;
    visibility: hidden;
    box-shadow: 0 0 0 1px rgb(0 0 0 / 0.04), 0 7px 20px -5px rgb(0 0 0 / 0.15);
    transition: opacity 0.3s, transform 0.2s;
    transform: translate3d(0, 6px, 0);
}

.gh-dropdown.is-left {
    @apply right-auto left-[-16px];
}

.is-dropdown-mega .gh-dropdown {
    @apply grid w-auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: column;
    column-gap: 40px;
    padding: 20px 32px;
}

.is-dropdown-open .gh-dropdown {
    @apply visible opacity-100;
    transform: translateX(0);
}

.gh-dropdown li a {
    @apply block whitespace-normal;
    padding: 7px 20px;
    line-height: 1.5;
    color: #15171a !important;
}

.is-dropdown-mega .gh-dropdown li a {
    padding: 8px 0;
}

/* 6.4. Mobile menu */

.gh-burger {
    @apply visible md:hidden flex justify-center items-center relative mr-[-7px] ml-1;
}

.gh-burger svg {
    @apply w-6 h-6;
}

.gh-burger svg:last-child {
    @apply hidden;
}

.is-open .gh-burger svg:first-child {
    @apply hidden;
}

.is-open .gh-burger svg:last-child {
    @apply block;
}

@media (max-width: 767px) {
    .gh-burger {
        @apply flex;
    }

    #gh-navigation {
        @apply h-16;
    }

    #gh-navigation .gh-navigation-inner {
        @apply gap-12;
        grid-template-rows: auto 1fr auto;
        grid-template-columns: 1fr;
    }

    #gh-navigation .gh-navigation-brand {
        @apply grid items-center h-16;
        grid-template-columns: 1fr auto auto;
        grid-column-start: 1;
    }

    #gh-navigation .gh-navigation-logo {
        font-size: 2.2rem;
    }

    #gh-navigation .gh-navigation-menu,
    #gh-navigation .gh-navigation-actions {
        @apply fixed opacity-0 justify-center invisible;
    }

    #gh-navigation .gh-navigation-menu {
        transition: none;
        transform: translateY(0);
    }

    #gh-navigation .nav {
        @apply gap-7 items-center;
        line-height: 1.4;
    }

    #gh-navigation .nav a {
        @apply font-semibold normal-case;
        font-size: 1.75rem;
    }

    #gh-navigation .nav li {
        @apply opacity-0;
        transform: translateY(-4px);
    }

    #gh-navigation .gh-navigation-actions {
        @apply text-center;
    }

    #gh-navigation :is(.gh-button, a[data-portal="signin"]) {
        @apply opacity-0;
        transform: translateY(8px);
    }

    #gh-navigation .gh-button {
        @apply w-full normal-case;
        font-size: 1.75rem;
    }

    #gh-navigation a[data-portal="signin"] {
        font-size: 1.75rem;
    }

    #gh-main {
        transition: opacity 0.4s;
    }

    .is-open#gh-navigation {
        @apply fixed inset-0 h-full overflow-y-scroll;
        z-index: 3999999;
        -webkit-overflow-scrolling: touch;
    }

    .is-open#gh-navigation .gh-navigation-menu,
    .is-open#gh-navigation .gh-navigation-actions {
        @apply static opacity-100 visible;
    }

    .is-open#gh-navigation .nav {
        @apply flex flex-col;
    }

    .is-open#gh-navigation .nav li {
        @apply opacity-100;
        transition: transform 0.2s, opacity 0.2s;
        transform: translateY(0);
    }

    .is-open#gh-navigation .gh-navigation-actions {
        @apply sticky right-0 bottom-0 left-0 inline-flex flex-col items-center gap-3;
        padding: var(--container-gap) 0;
    }

    .is-open#gh-navigation :is(.gh-button, a[data-portal="signin"]) {
        @apply opacity-100;
        transition: transform 0.4s, opacity 0.4s;
        transition-delay: 0.2s;
        transform: translateY(0);
    }

    .is-open#gh-navigation a[data-portal="signin"] {
        transition-delay: 0.4s;
    }

    .is-open#gh-main {
        @apply opacity-0;
    }
}

/* 7. Card
/* ---------------------------------------------------------- */

.gh-card {
    @apply relative;
}

.gh-card-link {
    @apply flex flex-col gap-5;
}

.gh-card-link:hover {
    @apply opacity-100;
}

.gh-card-image {
    @apply relative flex-shrink-0 aspect-video;
}

.gh-card-image img {
    @apply absolute inset-0 w-full h-full object-cover;
}

.gh-card-wrapper {
    @apply flex-grow;
}

.gh-card-tag {
    @apply hidden font-medium mb-1 uppercase;
    font-size: 1.2rem;
    letter-spacing: 0.01em;
}

.gh-card-title {
    @apply font-bold;
    font-size: calc(1.9rem * var(--factor, 1));
    letter-spacing: -0.014em;
    line-height: 1.3;
}

.gh-card-link:hover .gh-card-title {
    @apply opacity-80;
}

.gh-card-excerpt {
    @apply overflow-y-hidden mt-2;
    display: -webkit-box;
    font-size: 1.45rem;
    line-height: 1.4;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.gh-card-meta {
    @apply font-medium items-center pb-px;
    font-size: 1.25rem;
    line-height: 1.4;
    letter-spacing: -0.004em;
    color: var(--color-secondary-text);
}

.gh-card-meta svg {
    @apply relative inline-block top-px w-3 h-3 mr-0.5;
}

.gh-card-meta:not(:empty) {
    @apply mt-2;
}

.gh-card-author + .gh-card-date::before {
    @apply mr-1;
    content: "—";
}

/* 10. Featured posts
/* ---------------------------------------------------------- */

.gh-featured {
    @apply mt-[100px];
}

.gh-navigation + .gh-featured {
    @apply mt-16;
}

.gh-featured-inner {
    @apply overflow-hidden;
}

.gh-featured-title {
    @apply font-medium uppercase mb-5 pb-3;
    font-size: 1.2rem;
    letter-spacing: 0.025em;
    border-bottom: 1px solid var(--color-border);
}

.gh-featured-feed {
    @apply grid;
    grid-template-columns: repeat(4, 1fr);
    gap: var(--grid-gap);
}

.gh-featured-feed .gh-card {
    container-type: inline-size;
    container-name: featured-card;
}

.gh-featured-feed .gh-card-link {
    @apply flex flex-row-reverse items-start;
}

.gh-featured-feed .gh-card-image {
    @apply aspect-square w-[72px];
}

@container featured-card (width < 240px) {
    .gh-featured-feed .gh-card-image {
        @apply hidden;
    }
}

@container featured-card (240px <= width <= 270px) {
    .gh-featured-feed .gh-card-image {
        @apply w-16;
    }
}

.gh-featured-feed .gh-card-wrapper {
    container-type: inline-size;
    container-name: featured-card-wrapper;
}

.gh-featured-feed .gh-card-title {
    @apply font-bold;
    font-size: 1.6rem;
    letter-spacing: -0.011em;
}

@container featured-card-wrapper (width < 170px) {
    .gh-featured-feed .gh-card-title {
        font-size: 1.6rem;
    }
}

.gh-featured-feed .gh-card-excerpt {
    @apply hidden;
}

.gh-featured-feed .gh-card-meta:not(:empty) {
    @apply mt-2;
}

.gh-featured-feed .gh-card::before {
    @apply absolute top-0 h-full w-[1px];
    left: calc(var(--grid-gap) / -2);
    content: "";
    background-color: var(--color-border);
}

@media (max-width: 1199px) {
    .gh-viewport > .gh-featured .gh-featured-feed {
        grid-template-columns: repeat(3, 1fr);
    }

    .gh-viewport > .gh-featured .gh-featured-feed .gh-card:nth-child(4) {
        @apply hidden;
    }
}

@media (max-width: 767px) {
    .gh-viewport > .gh-featured .gh-featured-feed {
        @apply flex flex-col;
    }
}

/* 11. Container
/* ---------------------------------------------------------- */

.gh-container {
    @apply flex-grow mt-[64px];
}

.gh-container-inner {
    @apply grid;
    grid-template-columns: repeat(16, 1fr);
    column-gap: var(--grid-gap);
}

:is(.gh-featured) + .gh-container {
    margin-top: max(4vw, 40px);
}

.gh-navigation + .gh-container .gh-container-title,
:is(.paged, .tag-template, .author-template) .gh-container:not(.has-sidebar) .gh-container-title {
    @apply hidden;
}

.gh-more {
    @apply hidden mt-12 font-bold;
    grid-column: 1 / -1;
    font-size: calc(1.9rem * var(--factor, 1));
    letter-spacing: -0.014em;
}

.gh-container.has-sidebar .gh-more {
    grid-column: span 12;
}

.home-template .gh-feed:has(> :nth-child(12):last-child) ~ .gh-more {
    @apply block;
}

.gh-more a {
    @apply flex items-center gap-1;
}

.gh-more svg {
    @apply mt-[-1px] w-[18px] h-[18px];
}

.has-serif-title:not([class*=" gh-font-heading"]):not([class^="gh-font-heading"]) .gh-more svg {
    @apply mt-0;
}

/* 11.1. With sidebar */

.gh-container.has-sidebar .gh-main {
    @apply relative;
    grid-column: 1 / span 12;
}

.gh-container.has-sidebar .gh-sidebar {
    grid-column: 13 / -1;
}

.gh-container.has-sidebar .gh-main::after {
    @apply absolute top-0 h-full w-px;
    right: calc(var(--grid-gap) / -2);
    content: "";
    background-color: var(--color-border);
}

/* 12. Post list
/* ---------------------------------------------------------- */

.gh-container-title {
    @apply uppercase font-medium pb-3;
    grid-column: 1 / -1;
    margin-bottom: calc(var(--grid-gap) / 2);
    font-size: 1.2rem;
    letter-spacing: 0.025em;
    border-bottom: 1px solid var(--color-border);
}

.gh-container:not(:has(.gh-card)) .gh-container-title {
    @apply hidden;
}

.gh-container .gh-feed {
    gap: var(--grid-gap);
}

.gh-container .gh-card-meta:not(:empty) {
    @apply mt-3;
}

/* 12.2. Grid style */

.gh-container.is-grid .gh-feed {
    @apply grid overflow-hidden;
    grid-template-columns: repeat(auto-fit, minmax(248px, 1fr));
    row-gap: calc(var(--grid-gap) * 1.5);
}

.gh-container.is-grid .gh-card::before {
    @apply absolute h-px;
    top: calc(var(--grid-gap) / -2);
    right: calc(var(--grid-gap) / -2);
    left: calc(var(--grid-gap) / -2);
    content: "";
    background-color: var(--color-border);
}

.gh-container.is-grid .gh-card::after {
    @apply absolute top-0 h-full w-px;
    left: calc(var(--grid-gap) / -2);
    content: "";
    background-color: var(--color-border);
}

@media (max-width: 767px) {
    .gh-container.is-grid .gh-feed {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 576px) {
    .gh-container.is-grid .gh-feed {
        @apply flex flex-col;
    }
}

/* 13. Sidebar
/* ---------------------------------------------------------- */

.gh-sidebar-inner {
    position: sticky;
    top: calc(var(--grid-gap) / 2);
}

.gh-sidebar-title {
    @apply font-medium uppercase pb-3;
    grid-column: 1 / -1;
    margin-bottom: calc(var(--grid-gap) / 2);
    font-size: 1.2rem;
    letter-spacing: 0.025em;
    border-bottom: 1px solid var(--color-border);
}

.gh-about {
    @apply flex flex-col justify-center items-center text-center min-h-[380px];
    padding: 48px 24px;
    background-color: var(--color-lighter-gray);
}

.gh-about-icon {
    @apply mb-6 w-[60px] h-[60px] rounded-full;
}

.gh-about-title {
    @apply font-bold;
    font-size: calc(2.4rem * var(--factor, 1));
    letter-spacing: -0.019em;
}

.gh-about-description {
    @apply mt-3;
    font-size: 1.45rem;
    line-height: 1.4;
}

.gh-about .gh-button {
    @apply mt-8;
}

.gh-recommendations {
    @apply mt-12;
}

.gh-recommendations .recommendations {
    @apply flex flex-col m-0 p-0 list-none gap-6;
}

.gh-recommendations .recommendation:first-child {
    @apply mt-1;
}

.gh-recommendations .recommendation a {
    @apply grid;
    grid-template-columns: 24px auto;
    gap: 4px 12px;
}

.gh-recommendations .recommendation a:hover {
    @apply opacity-100;
}

.gh-recommendations .recommendation-favicon {
    @apply w-full rounded;
    grid-row: span 2;
}

.gh-recommendations .recommendation-title {
    @apply mt-[-2px] font-bold;
    font-size: 1.5rem;
    letter-spacing: -0.009em;
}

.gh-recommendations .recommendation a:hover .recommendation-title {
    @apply opacity-80;
}

.gh-recommendations .recommendation-url {
    @apply order-1 overflow-hidden text-ellipsis;
    font-size: 1.4rem;
    line-height: 1.25;
    color: var(--color-secondary-text);
}

.gh-recommendations .recommendation-description {
    @apply hidden overflow-y-hidden;
    grid-column: 2;
    font-size: 1.4rem;
    line-height: 1.4;
    color: var(--color-secondary-text);
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.gh-recommendations button {
    @apply inline-flex cursor-pointer items-center mt-6 gap-0.5 p-0 border-0 font-medium uppercase bg-transparent;
    font-size: 1.2rem;
    letter-spacing: 0.025em;
    color: var(--color-darker-gray);
}

.gh-recommendations button svg {
    @apply mt-[-1px] w-3;
}

.gh-recommendations button:hover {
    @apply opacity-80;
}

/* 14. Post/page
/* ---------------------------------------------------------- */

/* 14.1. Article */

.gh-article {
    --container-width: 1120px;
    word-break: break-word;
}

.gh-article-header {
    margin: clamp(40px, 3.64vw + 25.45px, 72px) 0 40px;
}

.gh-article-tag {
    @apply uppercase mb-3 font-medium;
    font-size: 1.3rem;
    letter-spacing: 0.01em;
    color: var(--ghost-accent-color);
}

.gh-article-title {
    @apply capitalize leading-tight;
    font-size: calc(clamp(3.4rem, 1.36vw + 2.85rem, 4.6rem) * var(--factor, 1));
    line-height: 1.1;
    letter-spacing: -0.022em;
}

.gh-article-excerpt {
    @apply max-w-[720px];
    margin-top: clamp(12px, 0.45vw + 10.18px, 16px);
    font-size: clamp(1.7rem, 0.23vw + 1.61rem, 1.9rem);
    line-height: 1.45;
    letter-spacing: -0.018em;
}

.gh-article-meta {
    @apply flex mt-5 ml-1.5 gap-2 items-center;
}

.gh-article-author-image {
    @apply flex mr-2;
}

.gh-article-author-image a {
    @apply relative w-14 h-14 overflow-hidden rounded-full;
    margin: 0 -8px;
    background-color: var(--color-light-gray);
    border: 3px solid var(--background-color);
}

.gh-article-author-image a:first-child {
    @apply z-10;
}

.gh-article-author-image a:nth-child(2) {
    z-index: 9;
}

.gh-article-author-image a:nth-child(3) {
    z-index: 8;
}

.gh-article-author-image :is(img, svg) {
    @apply absolute w-full h-full object-cover;
    inset: 0;
}

.gh-article-meta-wrapper {
    @apply flex flex-col gap-1;
}

.gh-article-author-name {
    @apply font-bold;
    font-size: 1.6rem;
    letter-spacing: -0.013em;
}

.gh-article-meta-content {
    @apply font-medium;
    font-size: 1.35rem;
    line-height: 1.2;
    letter-spacing: -0.006em;
    color: var(--color-secondary-text);
}

.gh-article-image {
    @apply mt-10;
    grid-column: wide;
}

.gh-article-image img {
    @apply w-full;
}

/* 14.2. Page template */

.page-template .gh-article-header {
    margin-block: 72px 32px;
}

/* 14.3. Page without header */

.page-template .gh-content:only-child > *:first-child:not(.kg-width-full) {
    @apply mt-16;
}

.page-template .gh-content > *:last-child:not(.kg-width-full) {
    @apply mb-[6vw];
}

.page-template .gh-footer {
    @apply mt-0;
}

/* 15. Content
/* ---------------------------------------------------------- */

/* Content refers to styling all page and post content that is
created within the Ghost editor. The main content handles
headings, text, images and lists. We deal with cards lower down. */

.gh-content {
    font-size: var(--content-font-size, 1.7rem);
    letter-spacing: -0.01em;
}

/* Default vertical spacing */
.gh-content > * + * {
    @apply mb-0;
    margin-top: calc(28px * var(--content-spacing-factor, 1));
}

/* Remove space between full-width cards */
.gh-content > .kg-width-full + .kg-width-full:not(.kg-width-full.kg-card-hascaption + .kg-width-full) {
    @apply mt-0;
}

/* Add back a top margin to all headings,
unless a heading is the very first element in the post content */
.gh-content > [id]:not(:first-child) {
    margin-top: calc(56px * var(--content-spacing-factor, 1));
}

/* Add drop cap setting */
.post-template .gh-content.drop-cap > p:first-of-type:first-letter {
    @apply float-left leading-none font-bold;
    margin :0 0.2em 0em 0;
    font-size: 3.1em;
    margin-left: -1px;
}

.has-serif-body.post-template:not([class*=" gh-font-body"]):not([class^="gh-font-body"]) .gh-content.drop-cap > p:first-of-type:first-letter {
    font-size: 3.2em;
}

/* Add a small margin between a heading and paragraph after it */
.gh-content > [id] + p {
    margin-top: calc(12px * var(--content-spacing-factor, 1));
}

/* A larger margin before/after dividers, blockquotes and embeds */
.gh-content > :is(hr, blockquote, iframe) {
    @apply relative;
    margin-top: calc(48px * var(--content-spacing-factor, 1)) !important;
}

.gh-content > :is(hr, blockquote, iframe) + * {
    margin-top: calc(48px * var(--content-spacing-factor, 1)) !important;
}

/* Now the content typography styles */
.gh-content h1 {
    font-size: calc(2.2em * var(--factor, 1));
    letter-spacing: -0.02em;
}

.gh-content h2 {
    font-size: calc(1.6em * var(--factor, 1));
    letter-spacing: -0.02em;
}

.gh-content h3 {
    font-size: calc(1.3em * var(--factor, 1));
    letter-spacing: -0.017em;
}

.gh-content a {
    @apply underline;
    color: var(--ghost-accent-color);
}

.gh-content .kg-callout-card .kg-callout-text,
.gh-content .kg-toggle-card .kg-toggle-content > :is(ul, ol, p) {
    font-size: 0.95em;
}

.has-serif-body:not([class*=" gh-font-body"]):not([class^="gh-font-body"]) .gh-content > blockquote,
.has-serif-body:not([class*=" gh-font-body"]):not([class^="gh-font-body"]) .gh-content > ol,
.has-serif-body:not([class*=" gh-font-body"]):not([class^="gh-font-body"]) .gh-content > ul,
.has-serif-body:not([class*=" gh-font-body"]):not([class^="gh-font-body"]) .gh-content > dl,
.has-serif-body:not([class*=" gh-font-body"]):not([class^="gh-font-body"]) .gh-content > p,
.has-serif-body:not([class*=" gh-font-body"]):not([class^="gh-font-body"]) .gh-content .kg-callout-text,
.has-serif-body:not([class*=" gh-font-body"]):not([class^="gh-font-body"]) .gh-content .kg-toggle-content > ol,
.has-serif-body:not([class*=" gh-font-body"]):not([class^="gh-font-body"]) .gh-content .kg-toggle-content > ul,
.has-serif-body:not([class*=" gh-font-body"]):not([class^="gh-font-body"]) .gh-content .kg-toggle-content > p {
    font-family: var(--font-serif-alt);
}

.gh-content :is(ul, ol) {
    @apply pl-7;
}

.gh-content :is(li + li, li :is(ul, ol)) {
    @apply mt-2;
}

.gh-content ol ol li {
    list-style-type: lower-alpha;
}

.gh-content ol ol ol li {
    list-style-type: lower-roman;
}

.gh-content hr {
    @apply w-full border-0;
    height: 1px;
    background-color: var(--color-border);
}

.gh-content .gh-table {
    @apply overflow-x-scroll;
    -webkit-overflow-scrolling: touch;
}

.gh-content .gh-table table {
    @apply w-full whitespace-nowrap;
    font-family: var(--font-sans);
    font-size: 1.5rem;
    vertical-align: top;
    border-spacing: 0;
    border-collapse: collapse;
}

.gh-content .gh-table table th {
    @apply font-bold uppercase;
    font-size: 1.2rem;
    color: var(--color-darkgrey);
    text-align: left;
    letter-spacing: 0.2px;
}

.gh-content .gh-table table :is(th, td),
.gh-content .gh-table table td {
    padding: 6px 12px;
    border-bottom: 1px solid var(--color-border);
}

.gh-content .gh-table table :is(th, td):first-child {
    @apply pl-0;
}

.gh-content .gh-table table :is(th, td):last-child {
    @apply pr-0;
}

.gh-content pre {
    @apply overflow-auto p-4 rounded-md;
    font-size: 1.5rem;
    line-height: 1.5em;
    background: var(--color-lighter-gray);
    font-family: var(--font-mono);
}

.gh-content :not(pre) > code {
    @apply font-normal rounded;
    vertical-align: baseline;
    padding: 0.15em 0.4em;
    font-size: 0.95em;
    line-height: 1em;
    background: var(--color-lighter-gray);
    font-family: var(--font-mono);
}

/* 16. Cards
/* ---------------------------------------------------------- */

/* Add extra margin before/after any cards, except for when immediately preceeded by a heading */

.gh-content :not(.kg-card):not(table):not([id]) + :is(.kg-card, table) {
    margin-top: calc(48px * var(--content-spacing-factor, 1));
}

.gh-content :is(.kg-card, table) + :not(.kg-card):not(table):not([id]) {
    margin-top: calc(48px * var(--content-spacing-factor, 1));
}

.gh-content :not(.kg-card):not([id]) + .kg-card.kg-width-full {
    margin-top: calc(68px * var(--content-spacing-factor, 1));
}

.gh-content .kg-card.kg-width-full + :not(.kg-card):not([id]) {
    margin-top: calc(68px * var(--content-spacing-factor, 1));
}

/* Image */

.kg-image {
    @apply mr-auto ml-auto;
}

/* Embed */

.kg-embed-card {
    @apply flex flex-col w-full items-center;
}

/* Gallery */

.kg-image[width][height],
.kg-gallery-image {
    @apply cursor-pointer;
}

.kg-image-card a:hover,
.kg-gallery-image a:hover {
    opacity: 1 !important;
}

/* Toggle */

.kg-card.kg-toggle-card .kg-toggle-heading-text {
    @apply font-bold;
    font-size: 2rem;
}

.has-serif-title:not([class*=" gh-font-heading"]):not([class^="gh-font-heading"]) .kg-toggle-card .kg-toggle-heading-text {
    font-family: var(--font-serif);
}

.has-mono-title:not([class*=" gh-font-heading"]):not([class^="gh-font-heading"]) .kg-toggle-card .kg-toggle-heading-text {
    font-family: var(--font-mono);
}

/* Callout */

.kg-callout-card.kg-card {
    @apply rounded;
}

.kg-callout-card-accent a {
    text-decoration: underline;
}

/* Blockquote */

blockquote:not([class]) {
    @apply pl-8;
    border-left: 4px solid var(--ghost-accent-color);
}

blockquote.kg-blockquote-alt {
    @apply font-normal;
    font-style: normal;
    color: var(--color-secondary-text);
}

/* Button */

.kg-card.kg-button-card .kg-btn {
    @apply text-center;
    height: unset;
    padding: .6em 1.2em;
    font-size: 1em;
    line-height: 1.2em;
}

/* Header */

.has-serif-title:not([class*=" gh-font-heading"]):not([class^="gh-font-heading"]) .kg-card.kg-header-card h2.kg-header-card-header {
    font-family: var(--font-serif);
}

.has-mono-title:not([class*=" gh-font-heading"]):not([class^="gh-font-heading"]) .kg-card.kg-header-card h2.kg-header-card-header {
    font-family: var(--font-mono);
}

.has-serif-body:not([class*=" gh-font-body"]):not([class^="gh-font-body"]) .kg-header-card h3.kg-header-card-subheader {
    font-family: var(--font-serif);
}

/* Bookmark */

.kg-bookmark-card .kg-bookmark-container {
    @apply !rounded-lg;
}

.kg-bookmark-card .kg-bookmark-container:hover {
    @apply opacity-100;
}

.kg-bookmark-card a.kg-bookmark-container,
.kg-bookmark-card a.kg-bookmark-container:hover {
    background: var(--background-color) !important;
    color: var(--color-darker-gray) !important;
}

.kg-bookmark-card .kg-bookmark-content {
    padding: 1.15em;
}

.kg-bookmark-card .kg-bookmark-title {
    font-size: 0.9em;
}

.kg-bookmark-card .kg-bookmark-description {
    max-height: none;
    margin-top: 0.3em;
    font-size: 0.8em;
}

.kg-bookmark-card .kg-bookmark-metadata {
    font-size: 0.8em;
}

.kg-bookmark-card .kg-bookmark-thumbnail img {
    border-radius: 0 0.2em 0.2em 0;
}

/* Product */

.kg-product-card.kg-card .kg-product-card-image {
    @apply mb-3;
}

.kg-product-card.kg-card a.kg-product-card-button {
    @apply mt-3;
    height: 2.8em;
}

.has-serif-title:not([class*=" gh-font-heading"]):not([class^="gh-font-heading"]) .kg-product-card.kg-card .kg-product-card-title {
    font-family: var(--font-serif);
}

.has-mono-title:not([class*=" gh-font-heading"]):not([class^="gh-font-heading"]) .kg-product-card.kg-card .kg-product-card-title {
    font-family: var(--font-mono);
}

.has-serif-body:not([class*=" gh-font-body"]):not([class^="gh-font-body"]) .kg-product-card-description :is(p, ul, ol) {
    font-family: var(--font-serif-alt);
}

/* File */

.kg-file-card.kg-card .kg-file-card-container {
    padding: 0.6em;
}

.kg-file-card.kg-card .kg-file-card-contents {
    margin: 4px 8px 6px;
}

.kg-file-card.kg-card .kg-file-card-metadata {
    font-size: 0.9em;
}

.kg-file-card.kg-card .kg-file-card-filesize::before {
    @apply mx-1.5;
}

/* Caption */

figcaption {
    @apply mt-3 text-center;
    font-size: 1.4rem;
}

.kg-card.kg-width-full figcaption {
    padding: 0 16px;
}

figcaption a {
    color: var(--ghost-accent-color);
    text-decoration: underline;
}

/* 17. Comments
/* ---------------------------------------------------------- */

.gh-comments {
    @apply mt-12;
}

/* 18. Recent posts
/* ---------------------------------------------------------- */

.post-template .gh-container {
    margin-top: 120px;
}

.post-template .gh-container-inner {
    display: block;
}

.post-template .gh-container.is-grid .gh-feed {
    grid-template-columns: repeat(4, 1fr);
}

.post-template .gh-container .gh-container-title {
    display: block;
}

/* 19. Archive
/* ---------------------------------------------------------- */

.gh-archive {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    gap: var(--grid-gap);
    margin-block: 80px 24px;
}

.gh-archive.has-image {
    @apply mt-12;
}

.gh-archive-inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--grid-gap);
    grid-column: 1 / -1;
    padding-bottom: clamp(40px, 2.73vw + 29.09px, 64px);
    border-bottom: 1px solid var(--color-border);
}

.gh-archive.has-image .gh-archive-inner {
    @apply items-center;
    grid-column: 1 / -1;
}

.gh-archive:not(.has-sidebar):not(.has-image) .gh-archive-inner {
    grid-column: 3 / span 12;
}

.gh-archive .gh-article-image {
    @apply col-auto mt-0;
}

:is(.tag-template, .author-template) .gh-container {
    @apply mt-0;
}

.author-template .gh-archive-inner {
    @apply flex flex-row-reverse justify-end gap-6;
}

.author-template .gh-article-image {
    @apply mt-0 object-cover h-32 w-32 rounded-full;
}

.author-template .gh-article-title {
    font-size: 3.6rem;
}

.gh-author-meta {
    @apply flex gap-[10px] mt-[14px];
    font-size: 1.5rem;
    font-weight: 550;
    color: var(--color-secondary-text);
}

.gh-author-meta a {
    color: inherit;
}

.gh-author-social {
    @apply flex items-center pl-[3px] gap-2.5;
}

.gh-author-social svg {
    @apply w-5 h-5;
}

@media (max-width: 1199px) {
    .gh-archive {
        @apply block;
    }
}

@media (max-width: 767px) {
    .gh-archive-inner {
        @apply flex flex-col-reverse items-start;
    }

    .author-template .gh-archive-inner {
        @apply flex-col-reverse;
    }
}

/* 20. Design settings
/* ---------------------------------------------------------- */

.has-serif-title:not([class*=" gh-font-heading"]):not([class^="gh-font-heading"]) {
    --factor: 1.15;
}

.has-mono-title:not([class*=" gh-font-heading"]):not([class^="gh-font-heading"]) {
    --factor: 1.1;
}

.has-sans-title:not([class*=" gh-font-heading"]):not([class^="gh-font-heading"]) :is(.is-title, .gh-content :is(h2, h3)) {
    font-family: var(--gh-font-heading, var(--font-sans));
}

.has-serif-title:not([class*=" gh-font-heading"]):not([class^="gh-font-heading"]) :is(.is-title, .gh-content :is(h2, h3)) {
    font-family: var(--gh-font-heading, var(--font-serif));
    font-weight: 550;
}

.has-mono-title:not([class*=" gh-font-heading"]):not([class^="gh-font-heading"]) :is(.is-title, .gh-content :is(h2, h3)) {
    font-family: var(--gh-font-heading, var(--font-mono));
}

.has-sans-body:not([class*=" gh-font-body"]):not([class^="gh-font-body"]) .is-body {
    font-family: var(--gh-font-body, var(--font-sans));
}

.has-serif-body:not([class*=" gh-font-body"]):not([class^="gh-font-body"]) .is-body {
    font-family: var(--gh-font-body, var(--font-serif-alt));
}

.has-serif-title:not([class*=" gh-font-heading"]):not([class^="gh-font-heading"]) .gh-form {
    @apply rounded-none;
}

.has-serif-title:not([class*=" gh-font-heading"]):not([class^="gh-font-heading"]) .gh-card-title {
    line-height: 1.15;
    letter-spacing: -0.006em;
    font-size: calc(2.0rem*var(--factor, 1))
}

.has-serif-title:not([class*=" gh-font-heading"]):not([class^="gh-font-heading"]) .gh-featured-feed .gh-card-title {
    font-size: calc(1.6rem*var(--factor, 1))
}

.has-mono-title:not([class*=" gh-font-heading"]):not([class^="gh-font-heading"]) .gh-featured-feed .gh-card-title {
    font-size: calc(1.5rem*var(--factor, 1));
    letter-spacing: 0;
}

.has-mono-title:not([class*=" gh-font-heading"]):not([class^="gh-font-heading"]) .gh-card-title {
    font-size: calc(1.8rem*var(--factor, 1));
    line-height: 1.2;
}

.has-serif-title:not([class*=" gh-font-heading"]):not([class^="gh-font-heading"]) .gh-about-title {
    letter-spacing: -0.009em;
}

.has-serif-title:not([class*=" gh-font-heading"]):not([class^="gh-font-heading"]) .gh-footer-signup-header {
    letter-spacing: -0.019em;
}

.has-serif-title:not([class*=" gh-font-heading"]):not([class^="gh-font-heading"]) .gh-article-title {
    letter-spacing: -0.019em;
}

.has-serif-body:not([class*=" gh-font-body"]):not([class^="gh-font-body"]) {
    --content-font-size: 1.9rem;
}

.has-serif-body:not([class*=" gh-font-body"]):not([class^="gh-font-body"]) .gh-card-excerpt {
    font-size: 1.65rem;
    line-height: 1.4;
    letter-spacing: 0.0005em;
}

.has-serif-body:not([class*=" gh-font-body"]):not([class^="gh-font-body"]) .gh-about-description {
    font-size: 1.6rem;
}

.has-serif-body:not([class*=" gh-font-body"]):not([class^="gh-font-body"]) .gh-article-excerpt {
    @apply leading-relaxed;
}

.has-serif-body:not([class*=" gh-font-body"]):not([class^="gh-font-body"]) .gh-footer-signup-subhead {
    @apply leading-relaxed;
}

.has-serif-title:not([class*=" gh-font-heading"]):not([class^="gh-font-heading"]) :is(.gh-button, .gh-form, .gh-form-input) {
    @apply rounded-none;
}

.has-mono-title:not([class*=" gh-font-heading"]):not([class^="gh-font-heading"]) :is(.gh-button) {
    @apply rounded-none;
}

.has-mono-title:not([class*=" gh-font-heading"]):not([class^="gh-font-heading"]) :is(.gh-form) {
    @apply rounded-none;
}

.has-serif-title:not([class*=" gh-font-heading"]):not([class^="gh-font-heading"]) {
    font-size: 4.8rem;
}

/* 21. Footer
/* ---------------------------------------------------------- */

.gh-footer {
    margin-top: 12vw;
    font-size: 1.5rem;
    color: var(--color-darker-gray);
}

.gh-footer a:not(.gh-button) {
    color: inherit;
}

/* 21.1 Footer styles */

.gh-footer.has-accent-color {
    background-color: var(--ghost-accent-color);
}

.gh-footer.has-accent-color .gh-footer-bar {
    @apply border-t-0;
}

.gh-footer.has-accent-color .gh-button {
    @apply bg-white;
    color: #15171a;
}

/* 21.2. Footer bar */

.gh-footer-bar {
    @apply grid items-center font-medium gap-x-8 mb-[100px];
    grid-template-columns: 1fr auto 1fr;
    padding-block: 28px;
    border-block: 1px solid var(--color-border);
}

.gh-footer-logo {
    @apply relative font-bold w-full text-center lg:text-left;
    font-family: var(--gh-font-heading, var(--font-sans));
    font-size: calc(2.4rem * var(--factor, 1));
    letter-spacing: -0.015em;
}

.gh-footer-logo img {
    @apply max-h-10;
}

.gh-footer-menu .nav {
    @apply flex justify-center flex-wrap m-0 p-0 list-none;
    gap: 8px 28px;
}

/* 21.3. Footer signup */

.gh-footer-signup {
    @apply flex flex-col items-center text-center pb-[160px];
}

.gh-footer-signup-header {
    @apply font-bold;
    font-size: calc(clamp(2.8rem,1.36vw + 2.25rem,4rem) * var(--factor, 1));
    letter-spacing: -0.03em;
}

.gh-footer-signup-subhead {
    @apply opacity-75 mt-3 max-w-[640px] font-medium tracking-wide text-3xl;
}

.gh-footer-signup .gh-form {
    @apply mt-10;
}

@media (max-width: 991px) {
    .gh-footer-bar {
        @apply flex flex-col gap-5;
    }
}

/* Lightbox
/* ---------------------------------------------------------- */

.pswp {
    @apply absolute top-0 left-0 z-[3999999] hidden w-full h-full overflow-hidden touch-none outline-none backface-hidden;
    -webkit-text-size-adjust: 100%;
}

.pswp img {
    @apply max-w-none;
}

.pswp--animate_opacity {
    @apply opacity-5;
    transition: opacity 333ms cubic-bezier(0.4, 0, 0.22, 1);
    will-change: opacity;
}

.pswp--open {
    @apply block;
}

.pswp--zoom-allowed .pswp__img {
    @apply cursor-zoom-in;
}

.pswp--zoomed-in .pswp__img {
    @apply cursor-grab;
}

.pswp--dragging .pswp__img {
    @apply cursor-grab;
}

.pswp__bg {
    @apply absolute top-0 left-0 w-full h-full opacity-0 backface-hidden;
    background-color: rgba(0, 0, 0, 0.85);
    transition: opacity 333ms cubic-bezier(0.4, 0, 0.22, 1);
    transform: translateZ(0);
    will-change: opacity;
}

.pswp__scroll-wrap {
    @apply absolute top-0 left-0 w-full h-full overflow-hidden;
}

.pswp__container,
.pswp__zoom-wrap {
    @apply absolute top-0 right-0 bottom-0 left-0 touch-none backface-hidden;
}

.pswp__container,
.pswp__img {
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
}

.pswp__zoom-wrap {
    @apply absolute w-full;
    transition: transform 333ms cubic-bezier(0.4, 0, 0.22, 1);
    transform-origin: left top;
}

.pswp--animated-in .pswp__bg,
.pswp--animated-in .pswp__zoom-wrap {
    transition: none;
}

.pswp__item {
    @apply absolute top-0 right-0 bottom-0 left-0 overflow-hidden;
}

.pswp__img {
    @apply absolute top-0 left-0 w-auto h-auto;
}

.pswp__img--placeholder {
    @apply backface-hidden;
}

.pswp__img--placeholder--blank {
    background: var(--color-black);
}

.pswp--ie .pswp__img {
    @apply top-0 left-0;
    width: 100% !important;
    height: auto !important;
}

.pswp__error-msg {
    @apply absolute top-1/2 left-0 w-full text-center;
    margin-top: -8px;
    font-size: 14px;
    line-height: 16px;
    color: var(--color-secondary-text);
}

.pswp__error-msg a {
    color: var(--color-secondary-text);
    text-decoration: underline;
}

.pswp__button {
    @apply relative block float-right w-[44px] h-[44px] p-0 m-0 overflow-visible appearance-none cursor-pointer bg-transparent border-none;
    box-shadow: none;
    transition: opacity 0.2s;
}

.pswp__button:focus,
.pswp__button:hover {
    @apply opacity-100;
}

.pswp__button:active {
    @apply outline-none opacity-90;
}

.pswp__button::-moz-focus-inner {
    @apply p-0 border-0;
}

.pswp__ui--over-close .pswp__button--close {
    @apply opacity-100;
}

.pswp__button,
.pswp__button--arrow--left::before,
.pswp__button--arrow--right::before {
    @apply w-[44px] h-[44px];
    background: url("../images/default-skin.png") 0 0 no-repeat;
    background-size: 264px 88px;
}

@media (-webkit-min-device-pixel-ratio: 1.1), (-webkit-min-device-pixel-ratio: 1.09375), (min-resolution: 105dpi), (min-resolution: 1.1dppx) {
    .pswp--svg .pswp__button,
    .pswp--svg .pswp__button--arrow--left::before,
    .pswp--svg .pswp__button--arrow--right::before {
        background-image: url("../images/default-skin.svg");
    }

    .pswp--svg .pswp__button--arrow--left,
    .pswp--svg .pswp__button--arrow--right {
        @apply bg-transparent;
    }
}

.pswp__button--close {
    background-position: 0 -44px;
}

.pswp__button--share {
    background-position: -44px -44px;
}

.pswp__button--fs {
    @apply hidden;
}

.pswp--supports-fs .pswp__button--fs {
    @apply block;
}

.pswp--fs .pswp__button--fs {
    background-position: -44px 0;
}

.pswp__button--zoom {
    @apply hidden;
    background-position: -88px 0;
}

.pswp--zoom-allowed .pswp__button--zoom {
    @apply block;
}

.pswp--zoomed-in .pswp__button--zoom {
    background-position: -132px 0;
}

.pswp--touch .pswp__button--arrow--left,
.pswp--touch .pswp__button--arrow--right {
    @apply hidden;
}

.pswp__button--arrow--left,
.pswp__button--arrow--right {
    @apply absolute top-1/2 w-[70px] h-[100px] mt-[-50px] bg-transparent;
}

.pswp__button--arrow--left {
    @apply left-0;
}

.pswp__button--arrow--right {
    @apply right-0;
}

.pswp__button--arrow--left::before,
.pswp__button--arrow--right::before {
    @apply absolute top-[35px] w-[32px] h-[30px];
    content: "";
}

.pswp__button--arrow--left::before {
    @apply left-[6px];
    background-position: -138px -44px;
}

.pswp__button--arrow--right::before {
    @apply right-[6px];
    background-position: -94px -44px;
}

.pswp__counter {
    @apply absolute top-0 left-0 font-bold h-[44px];
    padding: 0 15px;
    font-size: 11px;
    line-height: 44px;
    color: var(--color-white);
    user-select: none;
}

.pswp__caption {
    @apply absolute bottom-0 left-0 w-full min-h-[44px];
}

.pswp__caption__center {
    @apply mx-auto max-w-[420px] leading-relaxed text-center;
    padding: 25px 15px 30px;
    font-size: 11px;
    color: var(--color-white);
}

.pswp__caption__center .post-caption-title {
    @apply uppercase font-medium mb-[7px];
    font-size: 15px;
}

.pswp__caption__center .post-caption-meta-item + .post-caption-meta-item::before {
    padding: 0 4px;
    content: "\02022";
}

.pswp__caption--empty {
    @apply hidden;
}

.pswp__caption--fake {
    @apply invisible;
}

.pswp__preloader {
    @apply absolute top-0 left-1/2 opacity-0 w-[44px] h-[44px] ml-[-22px];
    transition: opacity 0.25s ease-out;
    direction: ltr;
    will-change: opacity;
}

.pswp__preloader__icn {
    @apply w-5 h-5 m-3;
}

.pswp__preloader--active {
    @apply opacity-100;
}

.pswp__preloader--active .pswp__preloader__icn {
    background: url("../images/preloader.gif") 0 0 no-repeat;
}

.pswp--css_animation .pswp__preloader--active {
    @apply opacity-100;
}

.pswp--css_animation .pswp__preloader--active .pswp__preloader__icn {
    animation: clockwise 500ms linear infinite;
}

.pswp--css_animation .pswp__preloader--active .pswp__preloader__donut {
    animation: donut-rotate 1000ms cubic-bezier(0.4, 0, 0.22, 1) infinite;
}

.pswp--css_animation .pswp__preloader__icn {
    @apply absolute top-[15px] left-[15px] w-[14px] h-[14px] m-0 bg-transparent opacity-75;
}

.pswp--css_animation .pswp__preloader__cut {
    @apply relative overflow-hidden w-[7px] h-[14px];
}

.pswp--css_animation .pswp__preloader__donut {
    @apply absolute top-0 left-0 box-border bg-transparent m-0 w-[14px] h-[14px] rounded-full;
    border: 2px solid var(--color-white);
    border-bottom-color: transparent;
    border-left-color: transparent;
}

@media screen and (max-width: 1024px) {
    .pswp__preloader {
        @apply relative top-auto left-auto float-right m-0;
    }
}

@keyframes clockwise {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes donut-rotate {
    0% {
        transform: rotate(0);
    }

    50% {
        transform: rotate(-140deg);
    }

    100% {
        transform: rotate(0);
    }
}

.pswp__ui {
    @apply visible opacity-1 subpixel-antialiased;
    z-index: 1550;
}

.pswp__top-bar {
    @apply absolute top-0 left-0 w-full h-[44px];
}

.pswp__caption,
.pswp__top-bar,
.pswp--has_mouse .pswp__button--arrow--left,
.pswp--has_mouse .pswp__button--arrow--right {
    @apply backface-hidden;
    transition: opacity 333ms cubic-bezier(0.4, 0, 0.22, 1);
    will-change: opacity;
}

.pswp--has_mouse .pswp__button--arrow--left,
.pswp--has_mouse .pswp__button--arrow--right {
    @apply visible;
}

.pswp__ui--idle .pswp__top-bar {
    @apply opacity-0;
}

.pswp__ui--idle .pswp__button--arrow--left,
.pswp__ui--idle .pswp__button--arrow--right {
    @apply opacity-0;
}

.pswp__ui--hidden .pswp__top-bar,
.pswp__ui--hidden .pswp__caption,
.pswp__ui--hidden .pswp__button--arrow--left,
.pswp__ui--hidden .pswp__button--arrow--right {
    @apply opacity-5;
}

.pswp__ui--one-slide .pswp__button--arrow--left,
.pswp__ui--one-slide .pswp__button--arrow--right,
.pswp__ui--one-slide .pswp__counter {
    @apply hidden;
}

.pswp__element--disabled {
    display: none !important;
}

.pswp--minimal--dark .pswp__top-bar {
    @apply bg-transparent;
}

/* Hero
/* ---------------------------------------------------------- */
.hero {
    @apply mt-0 text-center flex flex-col items-center px-6 py-4;
}

.hero p {
    @apply text-4xl leading-relaxed max-w-4xl break-words;
}

.hero a.cta {
    @apply mt-12 !py-8 px-24 md:px-32 lg:px-48 text-white text-3xl no-underline;
}


/* CTA Newsletter
/* ---------------------------------------------------------- */
.cta-newsletter {
    @apply !mt-16 flex flex-col items-center gap-4;
}


/* Homepage
/* ---------------------------------------------------------- */
.homepage h2 {
    @apply !text-4xl !font-semibold text-center;
}

.homepage h3 {
    @apply !text-3xl !font-semibold;
}

.homepage .gh-article-header {
    @apply !mb-0;
}

.homepage section {
    @apply mt-16;
}

/* Benefits */
.homepage .benefits {
    @apply flex flex-col items-stretch md:inline-flex md:flex-wrap gap-8;
}

.homepage .benefit-item {
    @apply flex-1 min-w-[250px];
}

.homepage .benefits > .benefit-item > h2 {
    @apply !text-3xl !text-left;
}

/* About */
.homepage .about {
    @apply flex flex-col md:flex-row gap-8 md:flex-wrap items-center;
}

.homepage .about img {
    @apply w-64 h-64 object-cover rounded-full;
}

.homepage .about h2 {
    @apply text-center md:text-left;
}

.homepage .about-text {
    @apply flex-1 text-center md:text-left;
}

/* Approach */
.homepage .approach-steps {
    @apply flex flex-col gap-8;
}

.homepage .step {
    @apply bg-gray-100 p-8 rounded-lg shadow-lg;
}

/* Offerings */
.homepage .offerings-grid {
    @apply mt-8 grid gap-8 grid-cols-1 md:grid-cols-2;
}

.homepage .offering {
    @apply bg-gray-100 p-8 rounded-lg shadow-lg;
}

.homepage .offering p {
    @apply mt-4 leading-8;
}

.homepage .offering a {
    @apply inline-block mt-4 underline;
}

.homepage .testimonials {
    @apply bg-gray-100 p-8 rounded-lg shadow-lg;
}

.homepage .testimonials h2 {
    @apply text-center mb-8;
}

.homepage .testimonials blockquote {
    @apply mt-12;
}

.homepage .testimonials blockquote > span {
    @apply font-medium;
}

.homepage .cta h2 {
    @apply text-center mb-8;
}

.homepage .cta p {
    @apply text-center mb-8;
}

.homepage .cta ul {
    @apply flex flex-col items-center list-none;
}

/* Start Page
/* ---------------------------------------------------------- */
.start-page h2 {
    @apply !text-4xl !font-semibold text-center;
}

.start-page h3 {
    @apply !text-3xl !font-semibold;
}

.start-page .gh-article-header {
    @apply !mb-0;
}

.start-page section {
    @apply mt-16;
}


/* Steps */
.start-page .step {
    @apply bg-gray-100 mt-12 rounded-lg shadow-lg p-8 md:p-12 xl:p-24;
}

.start-page .step strong {
    @apply inline-block mb-2 font-semibold;
}

.start-page .recommended-resources {
    @apply bg-gray-200 mt-12 rounded-lg shadow-lg p-8 border-l-pink-500 border-l-4;
}

.start-page .recommended-resources h4 {
    @apply mt-0 mb-2 font-semibold;
}

.start-page .further-learning p {
    @apply text-center mb-8;
}

.start-page .further-learning > div {
    @apply flex flex-col items-center text-white;
}

.start-page .further-learning > div > a.cta {
    @apply !py-8 px-24 md:px-32 lg:px-48 text-white text-3xl no-underline;
}
