<button class="gh-search gh-icon-button" aria-label="{{t "Search this site"}}" aria-keyshortcuts="Meta+K Control+K Slash" title="Search (⌘K / Ctrl+K)" data-ghost-search>
    {{> "icons/search"}}
</button>