{{!< default}}

<main class="gh-main error-page">
    <article class="gh-article">
        <header class="gh-article-header gh-canvas">
            <h1 class="gh-article-title is-title !text-center">🚨 Page Not Found</h1>
        </header>

        <section class="gh-content gh-canvas is-body text-center flex flex-col items-center justify-center">
            <h2>Sorry, the page you are looking for could not be found 😭</h2>
            
            <div>
                <a class="gh-button !text-white !no-underline" href="{{@site.url}}">
                    🏠 Go back to the homepage
                </a>
            </div>

            <p class="!mt-12">Or try one of these:</p>
            <ul class="!list-none !mt-4 !text-left">
                <li>➤&nbsp;<a href="/start">Start here</a></li>
                <li>➤&nbsp;<a href="/blog">Browse articles</a></li>
                <li>➤&nbsp;<a href="/newsletter">Subscribe to the newsletter</a></li>
                <li>➤&nbsp;<a href="https://store.dsebastien.net" rel="noopener">Explore products</a></li>
            </ul>
        </section>
    </article>
</main>
